.big_container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
        'area1 area1 area1 area1 area2 area2 area3 area3'
        'area1 area1 area1 area1 area2 area2 area3 area3'
        'area1 area1 area1 area1 area4 area4 area3 area3'
        'area1 area1 area1 area1 area4 area4 area3 area3'
        'area5 area5 area6 area6 area4 area4 area7 area7'
        'area5 area5 area6 area6 area4 area4 area7 area7'
        'area5 area5 area6 area6 area8 area8 area7 area7'
        'area9 area9 area10 area11 area8 area8 area7 area7'
    ;

    gap: 10px;
    height: 50rem;
    width: 100rem;
    
}
body{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.555),rgba(0, 0, 0, 0.041)), url(Person.jpg) ;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;


}
.bigbigcontainer{
    height: fit-content;
    background-color: black;
    width:max-content;
    padding: 10px;    
    border-radius: 10px;
    background: linear-gradient(to right bottom, #0e0d0d,#503A3C);

}
.big_container h1,
h3, h2 {
    color: white;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.big_container h3{
    font-size: small ;
    font-weight: normal;
}
.big_container h2{
    font-weight: normal;
    font-size: small;

}
.big_container h1{
    font-size: xx-large ;
    font-weight: bold !important;
    margin-bottom: 0px;
}
.text3{
    flex-direction: column;
}
.big_container div{
    border-radius: 10px;
}
.card1 {
    grid-area: area1;
    background-image: url(kyoto.jpg);
    display: flex;
    align-items: end;
    background-repeat: no-repeat;
    background-size: cover;
}


.card2 {
    grid-area: area2;
    background:linear-gradient( to left ,#3A1D19, #2A1A17);
}

.card2 h1,
h3 {
    color: white;
    margin: 20px;
}

.card3 {
    grid-area: area3;
    background-image: url(Flower.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.card4 {
    grid-area: area4;
    background-image: url(Road.jpg);
    background-repeat: no-repeat;
    background-size: cover;


}
.card2, .card5, .card10, .card9, .card8, .card11{
    display: flex;
    justify-content: center ;
    align-items: center;
}
.card5 {
    grid-area: area5;
    background:linear-gradient( to left ,#3A1D19, #2A1A17);
}

.card6 {
    grid-area: area6;
    background-image: url(Person.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.card7 {
    grid-area: area7;
    background-image: url(image-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    background-position: -50px;
}

.card8 {
    grid-area: area8;
    background:linear-gradient( to left ,#3A1D19, #2A1A17);
}

.card9 {
    grid-area: area9;
    background:linear-gradient( to left ,rgb(206, 76, 25), rgba(51, 38, 31, 0.514));
    font-size: medium !important;
    display: flex;
    justify-content: center ;
}

.card10 {
    grid-area: area10;
    background-color: #3D1D1D;
    display: flex;
    justify-content: center ;
}

.card11 {
    grid-area: area11;
    background-color: #3D1D1D;
    display: flex;
    justify-content: center ;
}